.app {
  margin-top: 42px;
}

.content-wrap {
  padding: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.social-wrap {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
}

.about-wrap {
  margin-top: 12px;
}

.bottom-bar {
  position: fixed;
  left: 10px;
  bottom: 10px;
}

@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.barrel-roll {
  animation-duration: 0.55s;
  animation-name: roll;
  animation-iteration-count: 3;
}

.presese-indicator {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.image-wrap {
  position: relative;
}
