---
import { MinecraftSkin } from "../components/minecraft-skin";
import Layout from "../layouts/layout.astro";

const META_INFO = {
  title: "Sean Boult | Minecon 2011 Cape - Rare Minecraft Cape",
  description:
    "Yes I have a Minecon 2011 cape and no you can't have it. A rare Minecraft collectible from the first Minecon. Please stop DMing me on Discord.",
  ogImage: "/img/cape-og.png",
};
---

<Layout
  title={META_INFO.title}
  description={META_INFO.description}
  ogImage={META_INFO.ogImage}
>
  <div class="prose prose-invert">
    <h1>Minecon 2011 Cape</h1>
    <p>
      Yes I have a minecon2011 cape and no you cant have it!
    </p>
      
    <p>Please stop DMing me on discord.</p>
    <div class="flex item-center justify-center w-full">
      <MinecraftSkin client:load width={600} height={600} />
    </div>
  </div>
</Layout>
