---
import Layout from "../layouts/layout.astro";

const META_INFO = {
  title: "Sean Boult | HDR Image - Retina Searing Display Demo",
  description:
    "HDR images use special color space to make pixels really bright on compatible displays. A fun experiment in web display technology.",
  ogImage: "/img/hdr-og.png",
};
---

<Layout title={META_INFO.title} description={META_INFO.description} ogImage={META_INFO.ogImage}>
  <div class="prose prose-invert">
    <h1>HDR Images</h1>
    <p>
      HDR images <s>abuse</s> use the special color space to make pixels really bright for
      compatible displays, learn more
      <a target="_blank" rel="noreferrer" href="https://sharpletters.net/2025/04/16/hdr-emoji/"
        >here</a
      >
      and
      <a target="_blank" rel="noreferrer" href="https://github.com/swankjesse/hdr-emojis">here</a>.
    </p>

    <img src="/img/hdr-og.png" alt="HDR brightness demo">

    <p>It started with this tweet</p>
    <blockquote class="twitter-tweet">
      <p lang="zxx" dir="ltr"><a href="https://t.co/eA8IGTfVC2">pic.twitter.com/eA8IGTfVC2</a></p>
      &mdash; Hacksore (@Hacksore)
      <a href="https://twitter.com/Hacksore/status/1996200892631269586?ref_src=twsrc%5Etfw"
        >December 3, 2025</a
      >
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <p>twitter patched it 😭</p>
    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        X has “patched” the HDR images on web using CSS:<br><br>dynamic-range-limit: standard;<br>filter:
        brightness(1);<br><br>RIP HDR Avatar 2025–2025 🌞
        <a href="https://t.co/PkcGItSBmP">pic.twitter.com/PkcGItSBmP</a>
      </p>
      &mdash; Jane Manchun Wong (@wongmjane)
      <a href="https://twitter.com/wongmjane/status/2001850808632250700?ref_src=twsrc%5Etfw"
        >December 19, 2025</a
      >
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <p>
      However, if you still wan't to create these abominations, you can use this tool created by
      <a target="_blank" rel="noreferrer" href="https://x.com/__alula">@__alula</a>
      at
      <a target="_blank" rel="noreferrer" href="https://hdrify.net/">hdrify.net</a>.
    </p>
  </div>
</Layout>
