---
import { About } from "../components/about";
import { Projects } from "../components/projects";
import { Social } from "../components/social";
import Layout from "../layouts/layout.astro";
---

<Layout>
	<section class="flex justify-center">
		<About client:load />
	</section>

	<section>
		<Social client:load />
	</section>

	<section class="pb-16 md:pb-14">
		<Projects client:load />
	</section>
</Layout>
