---
import { About } from "../components/_About";
import { Projects } from "../components/_Projects";
import { Social } from "../components/_Social";
import Layout from "../layouts/_Layout.astro";
---

<Layout>
	<section class="flex justify-center">
		<About client:visible />
	</section>

	<section>
		<Social client:idle />
	</section>

	<section class="pb-16 md:pb-14">
		<Projects client:idle />
	</section>
</Layout>
