---
import Layout from "../layouts/_Layout.astro";

import { Content as UsesContent } from "../content/uses.mdx";

const META_INFO = {
  title: "Uses - Sean Boult",
  description: "Some of the things i use",
};
---

<Layout
  title={META_INFO.title}
  description={META_INFO.description}
>
	<div class="prose prose-invert content">
		<h1>Uses</h1>
    <UsesContent />
	</div>
</Layout>


