---
import Layout from "../layouts/Layout.astro";

import { Content as UsesContent } from "./uses.mdx";
---

<Layout>
	<div class="prose prose-invert content">
		<h1>Uses</h1>
    <UsesContent />
	</div>
</Layout>


